@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #010103;
  color: #fff;
}

section {
  padding: 20px 7%;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 35px;
}
h2 span {
  color: #d3ad7f;
}

.btn {
  background-color: #d3ad7f;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transition: 0.3s;
  letter-spacing: 0.25em;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}
.boxs__item {
  padding: 50px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Roboto", sans-serif;
}
.boxs__item_bg_white {
  transition: 0.3s;
}
.boxs__item_bg_white:hover {
  background-color: #fff;
  color: #010103;
  transition: 0.3s;
}
.boxs__item_padding {
  padding: 20px;
}
.boxs__title {
  font-size: 2rem;
  padding: 10px 0;
}
.boxs__price {
  font-size: 2.5rem;
  padding: 5px 0;
  margin-bottom: 10px;
}
.boxs__price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
  padding: 0 5px;
}
.boxs__icons a {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  line-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 3px;
}
.boxs__img {
  padding: 25px 0;
}
.boxs__stars i {
  font-size: 1.7rem;
  color: #d3ad7f;
}
.boxs__text {
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 20px 0;
}
.boxs__customer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  background-color: #010103;
  padding: 15px 7vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
.header .site-title img {
  height: 6rem;
}
.header-nav a {
  margin: 0 10px;
}
.header-nav a:hover {
  color: #d3ad7f;
  transition: 0.3s;
  border-bottom: 1px solid #d3ad7f;
  padding-bottom: 5px;
  transition: 0.3s;
}
.header .icons div {
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}
.header .icons div:hover {
  color: #d3ad7f;
  transition: 0.3s;
}
.header .icons #bars-btn {
  display: none;
}
.header .search-form {
  display: none;
}
.header .cart-items-container {
  display: none;
}

.home {
  background-image: url(../images/home-img.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.home .main-copy {
  max-width: 600px;
}
.home .main-copy__title {
  font-size: 6rem;
  font-weight: bold;
}
.home .main-copy__text {
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.8;
  padding: 10px 0;
}
.home .main-copy__btn {
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  background-color: #d3ad7f;
  transition: 0.3s;
}
.home .main-copy__btn:hover {
  letter-spacing: 0.25em;
  transition: 0.3s;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .row .img-wrapper {
  flex: 1 1 450px;
}
.about .row .img-wrapper img {
  width: 100%;
}
.about .row .content {
  padding: 20px;
  background-color: #010103;
  flex: 1 1 450px;
}
.about .row .content-title {
  font-size: 3rem;
  font-weight: bold;
}
.about .row .content-text {
  font-size: 1.6rem;
  padding: 10px 0;
  line-height: 1.8;
  color: #ccc;
  font-weight: lighter;
}
.about .row .content .btn {
  display: inline-block;
  padding: 9px 30px;
  background-color: #d3ad7f;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
}
.about .row .content .btn:hover {
  letter-spacing: 0.25em;
  transition: 0.3s;
}

.contact__box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #13131a;
  font-family: "Roboto", sans-serif;
}
.contact__map {
  flex: 1 1 450px;
}
.contact__map iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact__form {
  flex: 1 1 450px;
  text-align: center;
  padding: 50px 20px;
}
.contact__form-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
}
.contact__input-box {
  display: flex;
  align-items: center;
  margin: 20px 0;
  background-color: #010103;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.contact__input-box span {
  margin-left: 20px;
}
.contact__input-box input {
  padding: 20px;
  text-align: left;
  width: 100%;
  font-size: 1.7rem;
}

.blog__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}
.blog__box-item {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.blog__box-item:hover {
  transition: 0.3s;
}
.blog__box-item:hover img {
  transform: scale(1.2);
  transition: 0.3s;
}
.blog__box__img-wrapper {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.blog__box__img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.blog__box__content {
  padding: 20px;
}
.blog__box__title {
  font-size: 2.5rem;
  line-height: 1.5;
}
.blog__box__date {
  font-size: 2rem;
  color: #d3ad7f;
  padding-top: 10px;
  display: block;
  text-transform: capitalize;
  font-weight: bold;
}
.blog__box__text {
  padding: 10px 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

.footer {
  padding: 20px 7%;
  text-align: center;
  background-color: #13131a;
}
.footer .share {
  font-size: 2rem;
  padding: 10px;
}
.footer .share .fab {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 3px;
  line-height: 50px;
  transition: 0.3s;
}
.footer .share .fab:hover {
  background-color: #d3ad7f;
  transition: 0.3s;
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}
.footer .links a {
  font-size: 2rem;
  padding: 7px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: capitalize;
  transition: 0.3s;
}
.footer .links a:hover {
  transition: 0.3s;
  background-color: #d3ad7f;
}
.footer .copy {
  text-transform: capitalize;
  font-size: 2rem;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.footer .copy span {
  color: #d3ad7f;
}/*# sourceMappingURL=style.css.map */