html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: $bg-c;
    color: $color;
}
section {
    padding: 20px 7%;
}


// import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
