.boxs {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    &__item {
        padding: 50px;
        text-align: center;
        border: 1px solid $border;
        font-family: 'Roboto', sans-serif;
    }
    &__title {
        font-size: 2rem;
        padding: 10px 0;
    }
    &__price {
        font-size: 2.5rem;
        padding: 5px 0;
        margin-bottom: 10px;
        span {
            text-decoration: line-through;
            font-weight: lighter;
            font-size: 1.5rem;
            padding: 0 5px;
        }
    }
}