.boxs {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    &__item {
        padding: 50px;
        text-align: center;
        border: 1px solid $border;
        font-family: 'Roboto', sans-serif;
    }
    &__item_bg_white {
        transition: .3s;
        &:hover {
            background-color: #fff;
            color: $bg-c;
            transition: .3s;
        }
    }
    &__item_padding {
        padding: 20px;
    }
    &__title {
        font-size: 2rem;
        padding: 10px 0;
    }
    &__price {
        font-size: 2.5rem;
        padding: 5px 0;
        margin-bottom: 10px;
        span {
            text-decoration: line-through;
            font-weight: lighter;
            font-size: 1.5rem;
            padding: 0 5px;
        }
    }
    &__icons {
        a {
            height: 50px;
            width: 50px;
            font-size: 2rem;
            line-height: 50px;
            border: 1px solid $border;
            margin: 3px;
        }
    }
    &__img {
        padding: 25px 0;
    }
    &__stars {
        i {
            font-size: 1.7rem;
            color: $sub-color;
        }
    }
    &__text {
        font-size: 1.5rem;
        line-height: 1.8;
        padding: 20px 0;
    }
    &__customer {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
}